.aboutMe {
      //@at-root: 1px solid blue;
      background-color: rgb(238, 238, 238);
      height: 100vh;
      &__container {
            margin: 0 auto;
            width: 70%;
            display: flex;
            flex-direction: column;
            //align-items: center;
            //padding: 1rem;
            //border: 1px solid black;
            &__top {
                  //border: 1px solid black;
                  margin-top: 8rem;
                  padding: 1rem;
                  font-size: 3rem;
                  text-align: left;
                  flex: 1;

                  &__text {
                        // /*
                        // flex: 1;
                        // flex
                        //border: 1px solid black;
                        // border-radius: 3rem;
                        // padding: 3rem;*/

                        width: 16em;
                        font-size: 5rem;
                        text-align: left;
                        white-space: nowrap;
                        overflow: hidden;

                        animation: typewriter 2s steps(60) 1s 1 both;
                  }
            }
            &__middle {
                  border-top: 5px solid $color--redPurple;
                  margin-top: 1rem;
                  display: flex;
                  flex-direction: row;

                  //flex-wrap: wrap-reverse;
                  padding-left: 1.25rem;
                  // border: 1px solid black;
                  margin-bottom: 2rem;

                  @media (max-width: 900px) {
                        flex-direction: column;
                  }

                  &__left {
                        padding: 0.5rem;
                        //border: 1px solid black;
                        flex: 1 1 70%;
                        display: flex;
                        flex-direction: column;

                        &__textMain {
                              font-size: 3rem;
                              margin: 2rem;
                              margin-left: 0rem;
                              padding-bottom: 1rem;
                              border-bottom: 3px solid $color--yellowOrange;
                        }

                        &__textSub {
                              font-size: 2rem;
                              margin: 1rem;
                              margin-left: 1.5rem;
                              //border: 1px solid blue;
                              &:last-child {
                                    padding-bottom: 2rem;
                                    border-bottom: 3px solid
                                          $color--yellowOrange;
                              }
                        }

                        &__highlight {
                              font-family: "Kalam", cursive;

                              &__blue {
                                    transition: all 0.5s;
                                    color: $color--blueGreen;

                                    &:hover {
                                          font-weight: 500;

                                          letter-spacing: 0.1rem;
                                    }
                              }
                              &__orange {
                                    color: $color--yellowOrange;
                                    transition: all 0.5s;
                                    font-weight: 700;
                                    &:hover {
                                          letter-spacing: 0.2px;
                                          font-size: 2.1rem;
                                          cursor: pointer;
                                    }
                              }
                              &__red {
                                    transition: all 0.5s;
                                    color: $color--redPurple;

                                    &:hover {
                                          letter-spacing: 0.2px;
                                          font-size: 2.1rem;
                                    }
                              }
                        }
                  }

                  &__right {
                        //border: 1px solid black;
                        border-radius: 2rem;
                        position: center;
                        //margin-top: 5rem;
                        margin-left: 1rem;

                        transition: all 1s;
                        padding: 1rem;
                        flex: 0 0 25%;

                        @media (max-width: 1100px) {
                              padding: 0rem;
                              margin: 0rem;
                        }
                  }
            }
            &__bot {
                  //border: 1px solid black;
                  //font-family: "Kalam", cursive;
                  font-family: "Open Sans", sans-serif;
                  //padding: 0.5rem;
                  flex: 1;
                  &__quote {
                        // border: 1px solid black;
                        border-radius: 3rem;
                        font-size: 2rem;
                        text-align: center;
                  }
            }
      }
}
