* {
      margin: 0;
      padding: 0;
}

body {
      box-sizing: border-box;
}

//Variables

//colors:

//redPurples
$color--redPurple: #952e4b;

//Bluegreens
$color--blueGreen: #157d72;

//YellowOranges
$color--yellowOrange: #ef882d;

//greens
$color--fadedGreen: rgb(43, 180, 73);

//animations
@keyframes typewriter {
      0% {
            width: 0;
      }

      100% {
            //Goes as far as the size of the object
            width: 16em;
      }
}
