* {
      margin: 0;
      padding: 0;
}

body {
      box-sizing: border-box;
}

//svgFilters
.filter-green {
      filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
            brightness(118%) contrast(119%);
}

.filter-fadedGreen {
      filter: invert(57%) sepia(23%) saturate(1548%) hue-rotate(81deg)
            brightness(96%) contrast(80%);
}

.filter-redPurple {
      filter: invert(23%) sepia(20%) saturate(4335%) hue-rotate(310deg)
            brightness(93%) contrast(90%);
}

.filter-blueGreen {
      filter: invert(36%) sepia(87%) saturate(388%) hue-rotate(124deg)
            brightness(93%) contrast(93%);
}

.filter-yellowOrange {
      filter: invert(67%) sepia(15%) saturate(5188%) hue-rotate(340deg)
            brightness(97%) contrast(92%);
}

//Variables

//colors:

//greys;
$color--lightGrey: #f5f3f3;

//redPurples
$color--redPurple: #952e4b;

//Bluegreens
$color--blueGreen: #157d72;

//YellowOranges
$color--yellowOrange: #ef882d;

//greens
$color--fadedGreen: rgb(43, 180, 73);
$color--fadedGreen--light: rgb(99, 212, 124);

//animations
@keyframes typewriter {
      0% {
            width: 0;
      }

      100% {
            //Goes as far as the size of the object
            width: 16em;
      }
}

//breakpoints
$bigPhone: 600px;
