.heroImage {
  width: 100%;
  margin: 0 auto;
}

.heroImage__src {
  background-position: center center;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 600px) {
  .heroImage__src {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.contentBox {
  border: 1px solid black;
  margin: 0 auto;
  max-width: 70%;
}

.contentBox__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  border: 1px solid black;
  gap: 1rem;
}

.contentBox__content__header {
  font-size: clamp(25px, 5vw, 60px);
  border: 1px;
  font-weight: 1000;
  color: red;
  text-align: left;
  margin-bottom: 1rem;
}

.contentBox__content__details {
  font-size: clamp(14px, 2vw, 30px);
  margin-bottom: 3rem;
}
