.heroImage {
      //width: calc(min(100%, 1000px));
      //width: calc(min(100%, 2300px));
      width: 100%;
      margin: 0 auto;
      //height: calc(min(80vh, 120rem));
      //max-height: 100%;
      //border: 1px solid black;
      &__src {
            background-position: center center;
            //background-repeat: no-repeat;
            max-width: 100%;

            object-fit: cover;
            @media (max-width: 600px) {
                  object-fit: contain;
            }
      }
}

.contentBox {
      border: 1px solid black;
      margin: 0 auto;

      //padding: 3rem;
      //margin: calc(max(30px, 5rem));
      max-width: 70%;

      &__content {
            display: flex;
            flex-direction: column;
            border: 1px solid black;

            border: 1px solid black;
            gap: 1rem;

            &__header {
                  font-size: clamp(25px, 5vw, 60px);
                  border: 1px;
                  font-weight: 1000;
                  color: red;
                  text-align: left;
                  margin-bottom: 1rem;
            }

            &__details {
                  font-size: clamp(14px, 2vw, 30px);
                  margin-bottom: 3rem;
            }
      }
}
