.experience {
      &--header {
            text-align: center;
            margin: 5 auto;

            font-size: 5rem;
            color: $color--redPurple;
            font-family: "Open Sans", sans-serif;
      }
}
