.experience {
      //border: 1px solid black;
      background-color: rgb(238, 238, 238);
      &--header {
            text-align: center;
            margin: 15 auto;

            font-size: 5rem;
            color: $color--redPurple;
            font-family: "Open Sans", sans-serif;

            @media (max-width: $laptop) {
                  font-size: 3rem;
            }
            @media (max-width: $tablet) {
                  font-size: 2.5rem;
            }
            @media (max-width: $bigPhone) {
                  font-size: 2rem;
            }
      }
}
