.imageHolder {
      position: absolute;

      width: 100%;

      border-radius: 2rem;

      background-size: cover;

      background-blend-mode: screen;

      outline-offset: 1rem;
      transition: all 1s;

      @media (max-width: 500px) {
            outline-offset: 0.5rem;
            padding: 0rem;
      }
      &__me {
            position: relative;
            height: 42rem;

            background-image: linear-gradient(
                        to right bottom,
                        rgba($color--redPurple, 0.8),
                        rgba($color--blueGreen, 0.7)
                  ),
                  url(../src/me-but-taller.jpg);

            &:hover {
                  transform: scale(1.03);
                  background-image: linear-gradient(
                              to right bottom,
                              rgba($color--redPurple, 0),
                              rgba($color--blueGreen, 0)
                        ),
                        url(../src/me-but-taller.jpg);
                  outline: 1rem solid $color--redPurple;
                  @media (max-width: 500px) {
                        transform: scale(1.02);
                        outline: 0.5rem solid $color--redPurple;
                  }
            }
            @media (max-width: 1000px) {
                  height: 30rem;
            }

            @media (max-width: 500px) {
                  outline-offset: 0.5rem;
                  height: 20rem;
                  padding: 0rem;
            }

            @media (max-width: 375px) {
                  outline-offset: 0.5rem;
                  height: 15rem;
                  padding: 0rem;
            }
      }
}
