.imageHolder {
      position: absolute;

      width: 100%;

      //border: 1px solid black;

      border-radius: 2rem;
      background-size: cover;
      background-position: center center;
      background-blend-mode: screen;
      padding-top: 5rem;
      outline-offset: 1rem;
      transition: all 1s;
      margin: 0 auto;

      width: calc(min(100%, 15vw));

      @media (max-width: 1000px) {
            margin-top: 1rem;
      }

      @media (max-width: $laptop) {
            outline-offset: 0.75rem;
      }

      @media (max-width: $tablet) {
            width: 50%;
            height: 20rem;
      }

      @media (max-width: $bigPhone) {
            width: 60%;
            height: 15rem;
            padding: 0rem;
      }

      @media (max-width: 500px) {
            outline-offset: 0.5rem;
            padding: 0rem;
            height: 10rem;
      }

      &__me {
            position: relative;
            height: calc(min(35rem, 10vh));
            //max-width: 40%;
            height: 25rem;

            background-image: linear-gradient(
                        to right bottom,
                        rgba($color--redPurple, 0.8),
                        rgba($color--blueGreen, 0.7)
                  ),
                  url(../src/me-but-taller.jpg);

            &:hover {
                  transform: scale(1.03);
                  background-image: linear-gradient(
                              to right bottom,
                              rgba($color--redPurple, 0),
                              rgba($color--blueGreen, 0)
                        ),
                        url(../src/me-but-taller.jpg);
                  outline: 1rem solid $color--redPurple;
            }

            @media (max-width: $laptop) {
                  &:hover {
                        transform: scale(1.03);
                        background-image: linear-gradient(
                                    to right bottom,
                                    rgba($color--redPurple, 0),
                                    rgba($color--blueGreen, 0)
                              ),
                              url(../src/me-but-taller.jpg);
                        outline: 0.5rem solid $color--redPurple;
                  }
            }

            @media (max-width: $tablet) {
                  &:hover {
                        transform: scale(1.02);
                        background-image: linear-gradient(
                                    to right bottom,
                                    rgba($color--redPurple, 0),
                                    rgba($color--blueGreen, 0)
                              ),
                              url(../src/me-but-taller.jpg);
                        outline: 0.3rem solid $color--redPurple;
                  }
            }
      }
}
