.landing {
      //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: flex;
      flex-shrink: 1;
      height: 90vh;
      font-family: "Open Sans", sans-serif;

      margin-bottom: 10rem;
      &__hero {
            border: 1px solid red;
            height: 100vh;
            width: 100%;

            position: relative;
            overflow: hidden;

            display: flex;
            justify-content: center;
            align-items: center;
            &__img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  z-index: -1;
                  @media (max-width: 950px) {
                        display: none;
                  }
            }

            &__container {
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                  border: 1px solid black;
                  padding: 0.5rem;
                  height: 90vh;
                  width: 70%;
                  margin: 3rem auto;

                  &__title {
                        justify-self: flex-start;
                        font-family: "Delius", cursive;
                        //border: 1px solid black;
                        display: flex;
                        flex-direction: row;
                        font-size: 4rem;
                        padding-left: 2rem;
                        font-weight: 700;
                        letter-spacing: 0.5rem;
                        width: 70%;
                        text-align: left;
                        margin-left: 1rem;
                        &--firstName {
                              padding-right: 1rem;
                        }
                  }

                  &__quote {
                        width: 70%;
                        margin-top: 2rem;
                        font-family: "Kalam", cursive;
                        //border: 1px solid black;
                        padding-top: 2rem;
                        font-size: 2rem;
                        text-align: center;
                        &--1 {
                              font-size: 2.2rem;
                              color: $color--blueGreen;
                              transition: all 0.5s;
                              padding: 0rem;

                              &:hover {
                                    font-size: 2.5rem;
                                    font-weight: 600;
                                    border-bottom: 1px solid $color--blueGreen;
                              }
                        }
                        &--2 {
                              font-size: 2.2rem;
                              color: $color--redPurple;
                              transition: all 0.5s;
                              padding: 0rem;
                              &:hover {
                                    font-size: 2.25rem;
                                    font-weight: 600;
                                    border-bottom: 1px solid $color--redPurple;
                              }
                        }
                        &--3 {
                              font-size: 2.2rem;
                              color: $color--yellowOrange;
                              transition: all 0.5s;
                              padding: 0rem;
                              &:hover {
                                    font-size: 2.25rem;
                                    font-weight: 600;
                                    border-bottom: 1px solid
                                          $color--yellowOrange;
                              }
                        }
                        &--4 {
                              font-size: 2.2rem;
                              color: $color--fadedGreen;
                              transition: all 0.5s;
                              padding: 0rem;
                              &:hover {
                                    font-size: 2.25rem;
                                    font-weight: 600;
                                    border-bottom: 1px solid $color--fadedGreen;
                              }
                        }
                  }

                  &__jobList {
                        flex: 1;

                        padding: 1rem;

                        list-style: none;
                        text-align: center;
                        display: flex;
                        width: 60%;

                        flex-direction: column;
                        justify-content: flex-end;
                        text-transform: uppercase;
                        letter-spacing: 0.2rem;
                        &__element {
                              margin-top: 1rem;
                              font-weight: 600;
                              font-size: 2rem;
                              &--UX {
                                    color: $color--blueGreen;

                                    transition: all 1s;
                                    &:hover {
                                          font-size: 2.05rem;

                                          letter-spacing: 0.3rem;
                                    }
                              }

                              &--interaction {
                                    color: $color--yellowOrange;

                                    transition: all 1s;
                                    &:hover {
                                          font-size: 2.05rem;

                                          letter-spacing: 0.3rem;
                                    }
                              }

                              &--frontEnd {
                                    color: $color--redPurple;

                                    transition: all 1s;
                                    &:hover {
                                          font-size: 2.05rem;

                                          letter-spacing: 0.3rem;
                                    }
                              }
                        }
                  }

                  &__links {
                        //border: 1px solid black;
                        display: flex;
                        padding: 0.5rem;
                        flex-direction: row;
                        list-style: none;
                        align-items: flex-end;
                        justify-content: space-evenly;
                        width: 70%;

                        @media (max-width: 750px) {
                              flex-direction: column;
                              align-items: center;
                        }
                        &__item {
                              list-style: none;
                              text-align: center;

                              text-transform: uppercase;
                              border-radius: 3rem;
                              margin: 1rem;
                              padding: 0.5rem;
                              cursor: pointer;

                              @media (max-width: 750px) {
                                    width: 100%;
                              }
                              &--resume {
                                    border: 2px solid $color--redPurple;
                                    color: $color--redPurple;
                                    font-size: 1.5rem;
                                    //width: 15vw;
                                    transition: all 0.5s;
                                    flex: 1;
                                    &:hover {
                                          font-size: 1.75rem;
                                          letter-spacing: 0.1rem;
                                          color: white;
                                          background-color: $color--redPurple;
                                    }
                              }

                              &--works {
                                    border: 2px solid $color--yellowOrange;
                                    color: $color--yellowOrange;
                                    font-size: 1.5rem;
                                    //width: 15vw;
                                    transition: all 0.5s;
                                    flex: 1;
                                    &:hover {
                                          font-size: 1.75rem;
                                          letter-spacing: 0.1rem;
                                          color: white;
                                          background-color: $color--yellowOrange;
                                    }
                              }

                              &--exp {
                                    border: 2px solid $color--blueGreen;
                                    color: $color--blueGreen;
                                    font-size: 1.5rem;
                                    //width: 15vw;
                                    transition: all 0.5s;
                                    flex: 1;
                                    &:hover {
                                          font-size: 1.75rem;
                                          letter-spacing: 0.1rem;
                                          color: white;
                                          background-color: $color--blueGreen;
                                    }
                              }
                        }
                  }
            }
      }
}
