* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter-green {
  -webkit-filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
          filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.filter-fadedGreen {
  -webkit-filter: invert(57%) sepia(23%) saturate(1548%) hue-rotate(81deg) brightness(96%) contrast(80%);
          filter: invert(57%) sepia(23%) saturate(1548%) hue-rotate(81deg) brightness(96%) contrast(80%);
}

.filter-redPurple {
  -webkit-filter: invert(23%) sepia(20%) saturate(4335%) hue-rotate(310deg) brightness(93%) contrast(90%);
          filter: invert(23%) sepia(20%) saturate(4335%) hue-rotate(310deg) brightness(93%) contrast(90%);
}

.filter-blueGreen {
  -webkit-filter: invert(36%) sepia(87%) saturate(388%) hue-rotate(124deg) brightness(93%) contrast(93%);
          filter: invert(36%) sepia(87%) saturate(388%) hue-rotate(124deg) brightness(93%) contrast(93%);
}

.filter-yellowOrange {
  -webkit-filter: invert(67%) sepia(15%) saturate(5188%) hue-rotate(340deg) brightness(97%) contrast(92%);
          filter: invert(67%) sepia(15%) saturate(5188%) hue-rotate(340deg) brightness(97%) contrast(92%);
}

@-webkit-keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 16em;
  }
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 16em;
  }
}

@media (max-width: 600px) {
  .floatingImage {
    display: none;
  }
}

@media (max-width: 600px) {
  .floatingImage {
    display: none;
  }
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  height: 90vh;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10rem;
}

.landing__hero {
  border: 1px solid red;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

@media (max-width: 950px) {
  .landing__hero__img {
    display: none;
  }
}

.landing__hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 0.5rem;
  height: 90vh;
  width: 70%;
  margin: 3rem auto;
}

.landing__hero__container__title {
  justify-self: flex-start;
  font-family: "Delius", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 4rem;
  padding-left: 2rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  width: 70%;
  text-align: left;
  margin-left: 1rem;
}

.landing__hero__container__title--firstName {
  padding-right: 1rem;
}

.landing__hero__container__quote {
  width: 70%;
  margin-top: 2rem;
  font-family: "Kalam", cursive;
  padding-top: 2rem;
  font-size: 2rem;
  text-align: center;
}

.landing__hero__container__quote--1 {
  font-size: 2.2rem;
  color: #157d72;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0rem;
}

.landing__hero__container__quote--1:hover {
  font-size: 2.5rem;
  font-weight: 600;
  border-bottom: 1px solid #157d72;
}

.landing__hero__container__quote--2 {
  font-size: 2.2rem;
  color: #952e4b;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0rem;
}

.landing__hero__container__quote--2:hover {
  font-size: 2.25rem;
  font-weight: 600;
  border-bottom: 1px solid #952e4b;
}

.landing__hero__container__quote--3 {
  font-size: 2.2rem;
  color: #ef882d;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0rem;
}

.landing__hero__container__quote--3:hover {
  font-size: 2.25rem;
  font-weight: 600;
  border-bottom: 1px solid #ef882d;
}

.landing__hero__container__quote--4 {
  font-size: 2.2rem;
  color: #2bb449;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0rem;
}

.landing__hero__container__quote--4:hover {
  font-size: 2.25rem;
  font-weight: 600;
  border-bottom: 1px solid #2bb449;
}

.landing__hero__container__jobList {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.landing__hero__container__jobList__element {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 2rem;
}

.landing__hero__container__jobList__element--UX {
  color: #157d72;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.landing__hero__container__jobList__element--UX:hover {
  font-size: 2.05rem;
  letter-spacing: 0.3rem;
}

.landing__hero__container__jobList__element--interaction {
  color: #ef882d;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.landing__hero__container__jobList__element--interaction:hover {
  font-size: 2.05rem;
  letter-spacing: 0.3rem;
}

.landing__hero__container__jobList__element--frontEnd {
  color: #952e4b;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.landing__hero__container__jobList__element--frontEnd:hover {
  font-size: 2.05rem;
  letter-spacing: 0.3rem;
}

.landing__hero__container__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
}

@media (max-width: 750px) {
  .landing__hero__container__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.landing__hero__container__links__item {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3rem;
  margin: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

@media (max-width: 750px) {
  .landing__hero__container__links__item {
    width: 100%;
  }
}

.landing__hero__container__links__item--resume {
  border: 2px solid #952e4b;
  color: #952e4b;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.landing__hero__container__links__item--resume:hover {
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  color: white;
  background-color: #952e4b;
}

.landing__hero__container__links__item--works {
  border: 2px solid #ef882d;
  color: #ef882d;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.landing__hero__container__links__item--works:hover {
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  color: white;
  background-color: #ef882d;
}

.landing__hero__container__links__item--exp {
  border: 2px solid #157d72;
  color: #157d72;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.landing__hero__container__links__item--exp:hover {
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  color: white;
  background-color: #157d72;
}

.aboutMe__container {
  margin: 0 auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutMe__container__top {
  padding: 1rem;
  font-size: 3rem;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.aboutMe__container__top__text {
  width: 16em;
  font-size: 5rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typewriter 2s steps(60) 1s 1 both;
          animation: typewriter 2s steps(60) 1s 1 both;
}

.aboutMe__container__middle {
  border-top: 5px solid #952e4b;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 1.25rem;
  margin-bottom: 2rem;
}

@media (max-width: 900px) {
  .aboutMe__container__middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.aboutMe__container__middle__left {
  padding: 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutMe__container__middle__left__textMain {
  font-size: 3rem;
  margin: 2rem;
  margin-left: 0rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid #ef882d;
}

.aboutMe__container__middle__left__textSub {
  font-size: 2rem;
  margin: 1rem;
  margin-left: 1.5rem;
}

.aboutMe__container__middle__left__textSub:last-child {
  padding-bottom: 2rem;
  border-bottom: 3px solid #ef882d;
}

.aboutMe__container__middle__left__highlight {
  font-family: "Kalam", cursive;
}

.aboutMe__container__middle__left__highlight__blue {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #157d72;
}

.aboutMe__container__middle__left__highlight__blue:hover {
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.aboutMe__container__middle__left__highlight__orange {
  color: #ef882d;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 700;
}

.aboutMe__container__middle__left__highlight__orange:hover {
  letter-spacing: 0.2px;
  font-size: 2.1rem;
  cursor: pointer;
}

.aboutMe__container__middle__left__highlight__red {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #952e4b;
}

.aboutMe__container__middle__left__highlight__red:hover {
  letter-spacing: 0.2px;
  font-size: 2.1rem;
}

.aboutMe__container__middle__right {
  border-radius: 2rem;
  position: center;
  margin-left: 1rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  padding: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

@media (max-width: 1100px) {
  .aboutMe__container__middle__right {
    padding: 0rem;
    margin: 0rem;
  }
}

.aboutMe__container__bot {
  font-family: "Kalam", cursive;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.aboutMe__container__bot__quote {
  border-radius: 3rem;
  font-size: 2rem;
  text-align: center;
}

.Portfolio {
  margin: 10rem 0 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Portfolio__header {
  text-align: center;
  margin: 5 auto;
  font-size: 5rem;
  color: #952e4b;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5rem;
}

.Portfolio__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
}

.Portfolio__holder > * {
  margin: 5rem 0 5rem 0;
}

@media (max-width: 1300px) {
  .Portfolio__holder > * {
    margin: 4rem 0 4rem 0;
    padding: 0rem;
  }
}

@media (max-width: 1200px) {
  .Portfolio__holder > * {
    margin: 3rem 0 3rem 0;
  }
}

@media (max-width: 1100px) {
  .Portfolio__holder > * {
    margin: 2rem 0 2rem 0;
  }
}

@media (max-width: 1000px) {
  .Portfolio__holder > * {
    margin: 1rem 0 1rem 0;
  }
}

.experience--header {
  text-align: center;
  margin: 5 auto;
  font-size: 5rem;
  color: #952e4b;
  font-family: "Open Sans", sans-serif;
}

.contact {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -15rem;
}

.contact__header {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: #952e4b;
  font-family: "Open Sans", sans-serif;
}

.contact__intro {
  width: 80%;
  padding: 0 3rem 0 3rem;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.socialHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0rem;
}

.socialHolder__elem {
  position: relative;
  margin: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 5%;
  background-size: cover;
  background-blend-mode: screen;
  border-radius: 20rem;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.socialHolder__elem:hover {
  -webkit-transform: scale(1.1) translateY(-3px);
          transform: scale(1.1) translateY(-3px);
  cursor: pointer;
}

.socialHolder__elem__item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: -50%, -50%;
          transform: -50%, -50%;
  max-width: 100%;
}

.workHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
}

@media (max-width: 1300px) {
  .workHolder {
    width: 75%;
  }
}

@media (max-width: 1000px) {
  .workHolder {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .workHolder {
    width: 95%;
  }
}

.workHolder:hover > .workHolder__title {
  color: black;
  font-weight: 1000;
  letter-spacing: 0.03rem;
  font-size: 1.58rem;
}

.workHolder__title {
  font-size: 1.5rem;
  color: #5f5f5f;
  font-weight: 700;
  letter-spacing: 0.02rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-bottom: 0.3rem;
}

.workHolder__content {
  height: 45rem;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
  border-radius: 2rem;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
  overflow: hidden;
  background-size: cover;
}

@media (max-width: 1300px) {
  .workHolder__content {
    height: 40rem;
  }
}

@media (max-width: 1000px) {
  .workHolder__content {
    height: 35rem;
  }
}

@media (max-width: 700px) {
  .workHolder__content {
    height: 25rem;
  }
}

@media (max-width: 400px) {
  .workHolder__content {
    height: 15rem;
  }
}

.workHolder__content:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

.workHolder__content:hover > .workHolder__content__text {
  opacity: 1;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.workHolder__content__video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}

.workHolder__content__text {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: white;
  font-size: 5rem;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  opacity: 0;
}

.accordian {
  font-family: "Open Sans", sans-serif;
  margin: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5vh;
}

.accordian--element {
  width: 70%;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.accordian--element:hover {
  cursor: pointer;
  width: 73%;
}

.accordian--element:hover > .accordian--element--front {
  background-color: #f5f3f3;
}

.accordian--element:hover > .accordian--element--answer--content {
  background-color: #f5f3f3;
}

.accordian--element:hover > .accordian--element--answer {
  background-color: #f5f3f3;
}

.accordian--element--front {
  border: 0.3rem solid #157d72;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
  font-size: 2.5rem;
}

.accordian--element--front:hover {
  background-color: #f5f3f3;
}

.accordian--element--front--name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  text-align: left;
  color: #157d72;
}

.accordian--element--front--year {
  color: #952e4b;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  text-align: Right;
}

.accordian--element--front--desc {
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.25rem;
  font-size: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  color: #ef882d;
}

.accordian--element--answer {
  position: relative;
  background-color: white;
  border: 0.3rem solid #157d72;
  border-radius: 1rem;
  color: black;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: none;
}

.accordian--element.active .accordian--element--answer {
  height: auto;
  padding: 1rem;
  font-size: 2rem;
  opacity: 1;
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
  border-top: none;
}

.accordian--element.active .accordian--element--answer--content {
  padding: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordian--element.active .accordian--element--answer--content > * {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem;
}

.accordian--element.active .accordian--element--answer--content--link {
  text-align: left;
  width: 95%;
  font-size: 1.5rem;
  text-decoration: none;
  color: #157d72;
  padding: 0rem;
  cursor: pointer;
}

.accordian--element.active .accordian--element--answer--content--desc {
  width: 95%;
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #2bb449;
}

.accordian--element.active .accordian--element--answer--content--list {
  list-style: none;
  width: 85%;
  margin: 0 auto;
}

.accordian--element.active .accordian--element--answer--content--list--elem {
  font-size: 1.5rem;
}

.accordian--element.active .accordian--element--answer--content--list--elem:before {
  content: "\2022";
  color: #2bb449;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.accordian--element.active .accordian--element--front {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  border-bottom: none;
}

.imageHolder {
  position: absolute;
  width: 100%;
  border-radius: 2rem;
  background-size: cover;
  background-blend-mode: screen;
  outline-offset: 1rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 500px) {
  .imageHolder {
    outline-offset: 0.5rem;
    padding: 0rem;
  }
}

.imageHolder__me {
  position: relative;
  height: 42rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(149, 46, 75, 0.8)), to(rgba(21, 125, 114, 0.7))), url(../src/me-but-taller.jpg);
  background-image: linear-gradient(to right bottom, rgba(149, 46, 75, 0.8), rgba(21, 125, 114, 0.7)), url(../src/me-but-taller.jpg);
}

.imageHolder__me:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(149, 46, 75, 0)), to(rgba(21, 125, 114, 0))), url(../src/me-but-taller.jpg);
  background-image: linear-gradient(to right bottom, rgba(149, 46, 75, 0), rgba(21, 125, 114, 0)), url(../src/me-but-taller.jpg);
  outline: 1rem solid #952e4b;
}

@media (max-width: 500px) {
  .imageHolder__me:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    outline: 0.5rem solid #952e4b;
  }
}

@media (max-width: 1000px) {
  .imageHolder__me {
    height: 30rem;
  }
}

@media (max-width: 500px) {
  .imageHolder__me {
    outline-offset: 0.5rem;
    height: 20rem;
    padding: 0rem;
  }
}

@media (max-width: 375px) {
  .imageHolder__me {
    outline-offset: 0.5rem;
    height: 15rem;
    padding: 0rem;
  }
}

.arrowHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 20rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation: bobdown 2s infinite ease-in-out;
          animation: bobdown 2s infinite ease-in-out;
}

.arrowHolder__arrow {
  width: 0.5rem;
  height: 4rem;
  background: #63d47c;
  border-radius: 1rem;
  -webkit-animation: move 1.1s infinite ease-in-out;
          animation: move 1.1s infinite ease-in-out;
}

.arrowHolder__arrow--left {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-right: 1rem;
}

.arrowHolder__arrow--right {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 1rem;
}

@-webkit-keyframes bobdown {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes bobdown {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
