/* Google Fonts */
.textHolder {
      margin: 10rem auto;
      width: 80%;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 0rem;
}

.line {
      color: black;

      width: 16em;
      margin: 6rem auto;

      font-size: 5rem;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      padding: 0rem;
}

.anim-typewriter {
      animation: typewriter 3s steps(60) 1s 1 both;
}

@keyframes typewriter {
      0% {
            width: 0;
      }

      100% {
            width: 16em;
      }
}
